@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap';

$font-family: "Roboto", sans-serif;
$font-family-serif: "Roboto", sans-serif;

$primary: #2c2c2c;

/*-- scss:rules --*/

body {
    background-color: #121212 !important; /* Set dark background */
    color: #e0e0e0 !important; /* Light text color */
}

p, span, li, h1, h2, h3, h4, h5, h6 {
    color: #e0e0e0 !important; /* Ensure all text is readable */
}

kbd, .kbd {
    background-color: #222222 !important;
}

.navbar {
    font-family: $font-family;  /* Ensure consistency */
    font-size: large;
    background-color: #2c2c2c !important; /* Ensure navbar matches dark mode */
    display: flex;
    align-items: center; /* Center items vertically */
    height: auto; /* Adjust height dynamically */
    padding: 0; /* Remove padding if necessary */
}

.navbar .navbar-nav {
    display: flex;
    align-items: center; /* Ensure nav items are centered vertically */
    height: 100%; /* Full height of the navbar */
}

.cropped-image {
    border-color: #e0e0e0; /* Adjust border color for better visibility */
}

.dropdown-menu {
    background-color: #222 !important;
    border: none !important;
}

.dropdown-item {
    color: #e0e0e0 !important; /* Set text color */
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #444 !important; /* Darker background on hover */
    color: #ffffff !important; /* Ensure text remains visible */
}