@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap';

$font-family: "Roboto", sans-serif;
$primary: #2c2c2c;

/*-- scss:rules --*/

body {
    background-color: #121212 !important; /* Set dark background */
    color: #e0e0e0 !important; /* Light text color */
}

p, span, li, h1, h2, h3, h4, h5, h6 {
    color: inherit !important; /* Inherit color from body */
}

kbd, .kbd {
    background-color: #222222 !important;
}

.navbar {
    font-family: $font-family;
    font-size: large;
    background-color: $primary !important;
    display: flex;
    align-items: center;
    height: auto;
    padding: 0;
}

.navbar .navbar-nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.cropped-image {
    border-color: #e0e0e0; /* Adjust border color for better visibility */
}

.dropdown-menu {
    background-color: #222 !important;
    border: none !important;
}

.dropdown-item {
    color: #e0e0e0 !important;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #444 !important;
    color: #ffffff !important;
}
