<hr>
<span>
   <div>
      
<div class="author-div">
      <div>
      	<img class="author-pic" src="{{author.image}}" align="left" alt="{{author.name}} profile">
      </div>
      <div>
      <h4>{{author.name}} - 

		<a href="{{author.twitter}}" target="_blank" class="btn btn-info" role="button" style='background-color:#55ACEE'>Twitter</a> 
<a href="{{author.github}}" target="_blank" class="btn btn-info" role="button" style='background-color:#4078c0'>Github</a> 

<a href="{{author.site}}" target="_blank" class="btn btn-info" role="button" style='background-color:#f5f5f5;color: black'>Portfolio</a> 

      </h4> 
      <p>{{author.bio}}</p>
   
</div>
  </div>
</div>

</span>
<br>
