<hr>
	<span>
		<div>

		  	{% assign authors = page.author | split: ',' %}

		  	{% for author_identifier in authors%}

		  	{% assign author = site.data.authors[author_identifier] %}

			<div class="author-div">

				<div>
					<img class="author-pic" src="{{author.image}}" align="left" alt="{{author.name}} profile">
				</div>

				<div style="display: table-cell!important;vertical-align: middle!important; padding-left: 1em;">
					<h4>{{author.name}} <br>

					<a href="{{author.twitter}}" target="_blank" class="btn btn-info" role="button" style='background-color:#55ACEE'>Twitter</a> 
					<a href="{{author.github}}" target="_blank" class="btn btn-info" role="button" style='background-color:#4078c0'>Github</a> 

					<a href="{{author.site}}" target="_blank" class="btn btn-info" role="button" style='background-color:#f5f5f5;color: black'>Website</a> 
					</h4> 
					<a href="/all_posts#{{author_id}}" target="_blank" class="btn btn-info" role="button" style='background-color:#8f86fd;color: white'>Blog Posts</a> 

				<p>{{author.bio}}</p>

				</div>
			</div>

			{% endfor %}
		</div>

	</span>
<br>
