---
layout: default
---


<div class='row' style="margin-top: 1em; ">
	

		

		{% for author_obj in site.data.authors %}
		{% assign author_id =  author_obj[0]%}
		{% assign author = site.data.authors[author_id]%}
			<div class="col-lg-6" style="padding:2em">

				<img src="{{author.image}}" style=";max-width: 200px;height: auto;">

				<h4 style="margin-top: 1em;">{{ author.name }}</h4>
				<h5>{{ author.tag }}</h5>
				<p>{{ author.bio }}</p>

				<a href="{{author.twitter}}" target="_blank" class="btn btn-info" role="button" style='background-color:#55ACEE'>Twitter</a> 
				<a href="{{author.github}}" target="_blank" class="btn btn-info" role="button" style='background-color:#4078c0'>Github</a> 

				<a href="{{author.site}}" target="_blank" class="btn btn-info" role="button" style='background-color:#f5f5f5;color: black'>Website</a> 
				<a href="/all_posts#{{author_id}}" target="_blank" class="btn btn-info" role="button" style='background-color:#8f86fd;color: white'>Blog Posts</a> 
				

			</div>
			


		{% endfor %}


	
</div>




