---
layout: default
---


<div class='row blog-post' style="margin-top: 1em; ">
	<div class='col-lg-8 offset-lg-2'>

		{% assign author = site.data.authors[page.author] %}

		{% include time_to_read.html %}
		{%- if page.use_toc -%}
		    <span>{{ page.excerpt | markdownify }}</span>
		    <h2>Table of Contents</h2>
		    {% include toc.html html=content %}
		{%- endif -%}
		<br>
		
				{{ content }}
		
		{% if author %}
		    {% include author_bio.html %}
		{% endif %}
		
		{% if page.comments %}

			{% include comments.html%}

		{% endif %}

	</div>
</div>




