---
layout: default
---


<h2 class="text-center roles">Faculty</h2>

<div class="row">

  

  <div class="col-lg-4 col-md-4 offset-lg-4 offset-md-4 text-center">

    <img class="team-page-pic  mx-auto d-block" src="https://nipunbatra.github.io/assets/img/nipun_4.jpg">



    <h4>Prof. Nipun Batra</h4>
    <h5>Assistant Professor in Department of Computer Science</h5>

        <a href="https://twitter.com/nipun_batra" target="_blank" class="btn btn-info" role="button" style='background-color:#55ACEE'>Twitter</a> 
<a href="https://github.com/nipunbatra/" target="_blank" class="btn btn-info" role="button" style='background-color:#4078c0'>Github</a> 

<a href="https://nipunbatra.github.io/" target="_blank" class="btn btn-info" role="button" style='background-color:#f5f5f5;color: black'>Website</a> 

  </div>
</div>


<h2 class="text-center roles">PhD Students</h2>

<div class="row">

  

  <div class="col-lg-4 col-md-4 text-center">

    <img class="team-page-pic  mx-auto d-block" src="https://raw.githubusercontent.com/rishi-a/rishi-a.github.io/master/images/RISHIRAJ.jpg">



    <h4>Rishiraj Adhikary</h4>
    <h5></h5>

        <a href="https://twitter.com/rishihere" target="_blank" class="btn btn-info" role="button" style='background-color:#55ACEE'>Twitter</a> 
        <a href="https://github.com/rishi-a" target="_blank" class="btn btn-info" role="button" style='background-color:#4078c0'>Github</a> 

        <a href="https://rishi-a.github.io/" target="_blank" class="btn btn-info" role="button" style='background-color:#f5f5f5;color: black'>Website</a> 

  </div>

  <div class="col-lg-4 col-md-4 text-center">

    <img class="team-page-pic  mx-auto d-block" src="https://github.com/patel-zeel/patel-zeel.github.io/raw/master/images/profile_crop.png">



    <h4>Zeel B Patel</h4>
    <h5></h5>

        <a href="https://twitter.com/patel_zeel_" target="_blank" class="btn btn-info" role="button" style='background-color:#55ACEE'>Twitter</a> 
        <a href="https://github.com/patel-zeel" target="_blank" class="btn btn-info" role="button" style='background-color:#4078c0'>Github</a> 

        <a href="http://patel-zeel.github.io/" target="_blank" class="btn btn-info" role="button" style='background-color:#f5f5f5;color: black'>Website</a> 

  </div>

</div>


<h2 class="text-center roles">M. Tech Students</h2>

<div class="row">

  

  <div class="col-lg-4 col-md-4 offset-lg-2 offset-md-2 text-center">

    <img class="team-page-pic  mx-auto d-block" src="https://media.licdn.com/dms/image/C5103AQFKM9wfI31fhA/profile-displayphoto-shrink_800_800/0?e=1560384000&v=beta&t=VD9pycJHP4rLzv22jRwXnwAg_eR7o15ZQkldHZccXfc">



    <h4>Souvik Roy</h4>
    <h5></h5>

        <a href="" target="_blank" class="btn btn-info" role="button" style='background-color:#55ACEE'>Twitter</a> 
        <a href="" target="_blank" class="btn btn-info" role="button" style='background-color:#4078c0'>Github</a> 

        <a href="" target="_blank" class="btn btn-info" role="button" style='background-color:#f5f5f5;color: black'>Website</a> 

  </div>

  <div class="col-lg-4 col-md-4 text-center">

    <img class="team-page-pic  mx-auto d-block" src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder.png">



    <h4>Karan Kumar</h4>
    <h5></h5>

        <a href="" target="_blank" class="btn btn-info" role="button" style='background-color:#55ACEE'>Twitter</a> 
        <a href="" target="_blank" class="btn btn-info" role="button" style='background-color:#4078c0'>Github</a> 

        <a href="" target="_blank" class="btn btn-info" role="button" style='background-color:#f5f5f5;color: black'>Website</a> 

  </div>

</div>


<h2 class="text-center roles">B. Tech Students</h2>

<div class="row">

  

  <div class="col-lg-4 col-md-4 text-center">

    <img class="team-page-pic  mx-auto d-block" src="https://media.licdn.com/dms/image/C5103AQFV4P4nR01e9g/profile-displayphoto-shrink_200_200/0?e=1560384000&v=beta&t=-_vrGH2rIB8dPD_TvNEBOJ2-D5WTsY29VcUNOcSKQBg">



    <h4>Rithwik Kukunuri</h4>
    <h5></h5>

        <a href="" target="_blank" class="btn btn-info" role="button" style='background-color:#55ACEE'>Twitter</a> 
        <a href="" target="_blank" class="btn btn-info" role="button" style='background-color:#4078c0'>Github</a> 

        <a href="" target="_blank" class="btn btn-info" role="button" style='background-color:#f5f5f5;color: black'>Website</a> 

  </div>

  <div class="col-lg-4 col-md-4 text-center">

    <img class="team-page-pic  mx-auto d-block" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/19553900_1439995209372626_900622842490030385_n.jpg?_nc_cat=100&_nc_ht=scontent-bom1-1.xx&oh=46de72ac5be35f2fb2da7caaa2ed78c0&oe=5D30631D">



    <h4>Deepak Narayanan</h4>
    <h5></h5>

        <a href="" target="_blank" class="btn btn-info" role="button" style='background-color:#55ACEE'>Twitter</a> 
        <a href="" target="_blank" class="btn btn-info" role="button" style='background-color:#4078c0'>Github</a> 

        <a href="" target="_blank" class="btn btn-info" role="button" style='background-color:#f5f5f5;color: black'>Website</a> 

  </div>


  <div class="col-lg-4 col-md-4 text-center">

    <img class="team-page-pic  mx-auto d-block" src="https://media.licdn.com/dms/image/C5103AQETc3nObfPQeA/profile-displayphoto-shrink_800_800/0?e=1560384000&v=beta&t=ZiMYXfZPGes1U0U_MdHGxm2L8_17ZHynfbdr-q_PxUI">



    <h4>Soham Pachpande</h4>
    <h5></h5>

        <a href="" target="_blank" class="btn btn-info" role="button" style='background-color:#55ACEE'>Twitter</a> 
        <a href="" target="_blank" class="btn btn-info" role="button" style='background-color:#4078c0'>Github</a> 

        <a href="" target="_blank" class="btn btn-info" role="button" style='background-color:#f5f5f5;color: black'>Website</a> 

  </div>


  



</div>



